* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.wrap{
  max-width: 1440px;
  height: 100%;
  background: aquamarine;
}

.main{
  height: 100%;
  width: 70%;
  &__content{
    width: 100%;
    height: 100%;
    margin: auto;
    &__msi{
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
  }
    &__text{
      line-height: 44px;
      color: #333333;
      & span:nth-of-type(1){
        font-weight: bold;
        font-size: 32px;
      }
      & span:nth-of-type(2){
        font-weight: 500;
        font-size: 24px;
      }
    }
    &__actions{

      &__ctgr{
        visibility: hidden;
      }
    }

    &__btn-joke{
      background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
      border-radius: 10px;
      width: 152px;
      height: 42px;
      border: 0;
      text-decoration: none;
      color: #ffffff;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
    }

    &__card{
      background: #F8F8F8;
      border-radius: 20px;
      width: 680px;
      height: 225px;
      display: flex;
      &__icon{
        width: 16%;
        display: flex;
        justify-content: center;
        align-items: center;
        & svg{
          margin-bottom: 40px;
        }
      }
      &__content{
        width: 68%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &__id{
          font-weight: 500;
          font-size: 10px;
          line-height: 14px;
          color: #ABABAB;
        }
        &__text-joke{
          font-size: 18px;
          line-height: 26px;
        }
        &__element {
          width: 100%;
          height: 20%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          &__upd {
            font-size: 10px;
            line-height: 14px;
            color: #ABABAB;
            height: 15%;
          }

          &__category {
            background: #FFFFFF;
            border-radius: 6px;
            width: 107px;
            height: 24px;
            border: 0;
            font-weight: 500;
            font-size: 10px;
            line-height: 14px;
            letter-spacing: 2px;
            text-transform: uppercase;
          }
        }
      }
      & a{
        width: 5%;
        height: 15%;
        margin-top: 30px;
      }
    }
  }
}