* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.whole-wrapper {
  display: flex;
  flex-direction: row;
}

.wrap {
  width: 100%;
  height: 100%;
}

.main {
  width: 68%;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;

    & p {
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: #333333;
    }

    .hey {
      font-weight: bold;
      font-size: 32px;
      line-height: 44px;
      color: #333333;
      margin-top: 50px;
    }

    & span:nth-of-type(1) {
      font-weight: 500;
      font-size: 24px;
      line-height: 44px;
      color: #333333;
    }
  }
}

.radio-container {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  margin-top: 30px;

  & div {
    margin-top: 10px;
  }
}

.categories-container {
  display: flex;
  flex-direction: row;
}

.category {
  width: 85px;
  height: 28px;
  border: 2px solid #f8f8f8;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ababab;
  text-align: center;
  align-self: center;
  margin-left: 5px;
}

#search-area {
  border: 2px solid #333333;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #ababab;
  width: 100%;
  height: 42px;
}

input[type="radio"] {
  background: #333333;
  height: 20px;
  width: 20px;
}

input[type="radio"]:checked {
  background: #333333;
  height: 20px;
  width: 20px;
}

.select {
  width: 85px;
  height: 28px;
  border: 2px solid #f8f8f8;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  align-self: center;
  margin-left: 5px;
  background: #f8f8f8;
  color: #333333;
}

.hide {
  display: none;
}

.btn-joke button {
  background: linear-gradient(92.01deg, #8ea7ff 0%, #7291ff 100%);
  border-radius: 10px;
  width: 152px;
  height: 42px;
  border: 0;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
}

.card {
  width: 100%;
  background: #f8f8f8;
  border-radius: 20px;
  padding: 36px 52px 50px 81px;
  margin-top: 40px;

  &__container {
  }

  &__content {
    position: relative;

    & p {
      margin: 0;
      padding: 0;
    }

    & p:nth-of-type(1) {
      font-weight: 500;
      font-size: 10px;
      line-height: 14px;
      color: #ababab;
      text-transform: uppercase;
    }

    & p:nth-of-type(2) {
      font-size: 18px;
      line-height: 26px;
      color: #333333;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__upd {
      font-size: 10px;
      line-height: 14px;
      color: #ababab;
    }
  }
}

.tag-category {
  border-radius: 6px;
  background: #ffffff;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333333;
}

.heart-icon {
  margin-left: auto;
  width: 20px;
  height: 17px;
}

.static-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -55px;
}

.side-widget {
  height: 100vh;
  width: 32%;
  background: #f8f8f8;
  color: #ababab;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  & .fav {
    width: 90%;
    margin: 30px auto auto;
  }

  & .card {
    width: 90%;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 15px;
    &__container {
      & .heart-icon {
      }
    }

    &__content {
      & .static-icon {
        right: 393px;
      }

      & p:nth-of-type(2) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.static-icon {
}
