* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  width: 80%;
  height: 100%;
}

.main {
  width: 80%;
  height: 100%;
  background: burlywood;

  &__content {
    display: flex;
    flex-direction: column;

    & p {
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: #333333;
    }

    & span:nth-of-type(1) {
      font-weight: bold;
      font-size: 32px;
      line-height: 44px;
      color: #333333;
    }

    & span:nth-of-type(2) {
      font-weight: 500;
      font-size: 24px;
      line-height: 44px;
      color: #333333;
    }
  }
}

.radio-container{
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
}
.categories-container{
  display: flex;
  flex-direction: row;
}
.category{
  width: 85px;
  height: 28px;
  border: 2px solid #F8F8F8;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ABABAB;
  text-align: center;
  align-self: center;
}
#search-area{
  border: 2px solid #333333;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #ABABAB;

}

input[type="radio"]{
  background: #333333;
  height: 20px;
  width: 20px;
}
input[type="radio"]:checked{
  background: #333333;
  height: 20px;
  width: 20px;
}